<!-- Mensaje de error -->
<div class="success-alert" *ngIf="showMessage">
    <p>{{message}}</p>
    <button (click)="closeMessage()">✕</button>
</div>


<div class="products-table-card">
    <div class="table-header">
        <h3>Productos Registrados</h3>
        <div class="table-actions">
            <button class="btn btn-primary btn-sm" (click)="showCreateForm()">
                <span>➕</span> Nuevo Producto
            </button>
            <div class="search-box">
                <input #searchInput type="text" placeholder="Buscar productos..." class="search-input" (input)="onSearchInput(searchInput.value)">
            </div>
        </div>
    </div>



    <div class="table-container">
        <div class="table-row table-header-row">
            <div class="table-cell">Código</div>
            <div class="table-cell">Nombre</div>
            <div class="table-cell">Categoría</div>
            <div class="table-cell">Precio</div>
            <div class="table-cell">Stock</div>
            <div class="table-cell">Estado</div>
            <div class="table-cell">Acciones</div>
        </div>

        <!-- Productos dinámicos -->
        <div class="table-row" *ngFor="let product of products">
            <div class="table-cell">{{ product.id }}</div>
            <div class="table-cell">
                <div class="product-info">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-description" *ngIf="product.description">
                        {{ product.description }}
                    </div>
                </div>
            </div>
            <div class="table-cell"> {{product.category_name}}</div>
            <div class="table-cell">{{ formatPrice(product.price) }}</div>
            <div class="table-cell">
                <span class="stock-badge" [ngClass]="getStockBadgeClass(product.stock)">
                    {{ product.stock }}
                </span>
            </div>
            <div class="table-cell">
                <span class="status-badge" [ngClass]="getStatusBadgeClass(product.is_active)">
                    {{ getStatusText(product.is_active) }}
                </span>
            </div>
            <div class="table-cell">
                <div class="action-buttons">
                    <button class="btn-action btn-edit" title="Editar" (click)="showEditForm(product)">✏️</button>
                    <button class="btn-action btn-delete" title="Eliminar" (click)="deleteProduct(product)">🗑️</button>
                </div>
            </div>
        </div>

        <!-- Mensaje cuando no hay productos -->
        <div class="no-products" *ngIf="products.length === 0">
            <p>No se encontraron productos</p>
        </div>

        <!-- Paginación -->
        <div class="table-pagination" *ngIf="totalPages > 1">
            <div class="pagination-info"></div>
            <div class="pagination-controls">

                <button class="btn btn-secondary btn-sm" [disabled]="!has_previous"
                    (click)="onPageChange(currentPage - 1)">
                    ← Anterior
                </button>

                <div class="page-numbers">
                    <button class="page-btn" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage"
                        (click)="onPageChange(page)">
                        {{ page }}
                    </button>
                </div>
                
                <button class="btn btn-secondary btn-sm" [disabled]="!has_next" (click)="onPageChange(currentPage + 1)">
                    Siguiente →
                </button>
            </div>
        </div>


    </div>

</div>


<app-form *ngIf="showForm" [data]="user" (confirmEvent)="closeForm()" (FormEvent)="formDataEventModal($event)"></app-form>

<app-delete *ngIf="showDelete" [data]="user" (confirmEvent)="confirmDelete($event)"></app-delete>